{% extends "base.html" %}
{% load static %}

{% block 'head'  %}
<link rel="stylesheet" href="{% static 'funcionarios/css/funcionarios.css' %}"> 
{% endblock  %}

{% block 'dashboard'  %}
    
<div class="row" style='margin:0; padding-top: 5rem;'>
    <div class='col-1'></div>
    <div class='col-10'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-add-equipe">Adicionar Equipe</button>
        </form>
        <a href="{% url 'funcionarios:listar_equipes' %}">Voltar para a lista de equipes</a>
    </div>
    <div class='col-1'></div>
</div>

{% endblock %}