{% extends "base.html" %}
{% load static %}

{% block 'head'  %}
    <link rel="stylesheet" href="{% static 'funcionarios/css/funcionarios.css' %}"> 
{% endblock  %}

{% block 'dashboard'  %}
    
<div class="row" style='margin:0; padding-top: 5rem;'>
    <div class='col-1'></div>
    <div class='col-10'>
        <table class="table table-dark" id="table-equipes">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for equipe in equipes %}  
                    <tr>
                        <td>{{equipe.id}}</td>
                        <td>{{equipe.nome}}</td>
                        <td>
                            <a href="{% url 'funcionarios:detalhes_equipe' equipe.id %}" class="btn-det-equipe">Ver detalhes</a>
                            <a href="{% url 'funcionarios:remover_equipe' equipe.id %}" class="btn-rem-equipe">Remover</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'funcionarios:adicionar_equipe' %}" class="btn-add-equipe">Adicionar Equipe</a>
          <a href="{% url 'funcionarios:listar_mecanicos' %}" class="btn-list-func">Lista de Funcionários</a>  <!-- Botão para a lista de funcionários -->
    </div>
    <div class='col-1'></div>
</div>

{% endblock %}