{% extends "base.html" %}
{% load static %}

{% block 'head'  %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock  %}


{% block 'dashboard'  %}
<div class="row" style='margin:0; padding-top: 5rem;'>
    <div class='col-3'></div>
    <div class='col-3'>
        <a href="{% url 'clientes:clientes' %}" class="btn-navegacao-dashboard btn-block"><i class='bx bx-user' ></i>Clientes</a>
        <a href="{% url 'servicos:listar_servicos' %}" class="btn-navegacao-dashboard btn-block"><i class='bx bx-car' ></i>Serviços</a>
        <a href="{% url 'ordem_servico:lista_ordens' %}" class="btn-navegacao-dashboard btn-block"><i class='bx bx-file' ></i>Ordem de Serviço</a>
    </div>
    <div class='col-3'>
        <a href="{% url 'pecas:listar_pecas' %}" class="btn-navegacao-dashboard btn-block"><i class='bx bx-wrench' ></i>Peças</a>
        <a href="{% url 'funcionarios:listar_equipes' %}" class="btn-navegacao-dashboard btn-block"><i class='bx bx-user' ></i> Funcionários</a>
    </div>
    <div class='col-3'></div>
</div>
    <script src="{% static 'servicos/js/novo_servico.js' %}"></script>
{% endblock %}
